.from_group_my {
  .control-label {
    text-align: left;
  }
  .col-sm-2 {
    width:10%;
  }
  .col-sm-10 {
    width:90%;
  }
  .col-sm-offset-2 {
    margin-left: 50%;
    .btn-primary {
      width: 30%;
    }
  }
}
.list_store,.from_group_my .form-group{
  margin-top: 60px;
  margin-bottom: 60px;
}
.list_store {
  margin-right: 0;
  .pagination{
    float: right;
  }
  .do_del span{
    cursor: pointer;
  }
  .add-store {
    float: right;
  }
}
.sweet-alert {
  h2 {
    color:#615f5f;
    letter-spacing: 20px;
  }
  .form-group {
    text-align: left;
  }
  input {
    display: block;
  }
}